a
  color: inherit
  font-size: inherit
  font-family: inherit
  text-transform: inherit
  font-weight: inherit


a, button, input, textarea, select
  cursor: pointer

ol, ul, li
  list-style: none

i
  font-style: italic

s
  text-decoration: line-through

em
  font-style: normal

strong
  font-weight: 700

small
  font-size: .8em

button
  user-select: none


template
  display: none !important
