tablet-width = 640px
tablet-landscape-width = 1024px
desktop-width = 1100px
desktop-hd-width = 1400px

phone = 'only screen and (max-width: (tablet-width - 1))'
tablet = 'only screen and (min-width: tablet-width)'
tablet-landscape = 'only screen and (min-width: tablet-landscape-min-width)'
handheld = 'only screen and (max-width: (desktop-width - 1))'
desktop = 'only screen and (min-width: desktop-width)'
desktop-hd = 'only screen and (min-width: desktop-hd-width)'

media(breakpoint)
  @media breakpoint
    {block}

calc-media-width(base-width, gap, i)
  return (base-width * i) + (gap * (i + 1))

media-plus(base-width, gap, i = 1, discount-with = 0)
  // magic number accounting for scrollbars
  // not every browser counts the scrollbar width into media queries
  // so we increase the actual value just to be safe
  // this prevents broken layouts on browsers that discount the scrollbar
  // and adds a minimal extra gap on browsers that not.
  scrollbar-width = 20
  width = calc-media-width(base-width, gap, i)
  @media (min-width: (width + discount-with + scrollbar-width))
    {block}
